.b-products-carousel__content {
  text-align: center;
}

.b-products-carousel__eyebrow {
  margin-bottom: 14px;
}

.b-products-carousel__title {
  margin-bottom: 30px;
}

.b-products-carousel__desc {
  max-width: 660px;
  margin: 0 auto;
}

.b-products-carousel__items {
  margin-top: 50px;
}
